.video-container {
  display: block;
  position: relative;

  width: 80vw;
}

.video-container .video-element {
  display: block;

  width: 100%;
  height: auto;
}

.video-container video {
  background: black;
  /* Ensure poster covers video space */
  object-fit: cover;
}