.video-container {
  display: block;
  position: relative;

  height: 360px;
  width: 640px;

}

.video-container .video-element {
  width: 100%;
  height: auto;
}

.video-container video {
  background: black;
  /* Ensure poster covers video space */
  object-fit: cover;
}