.video-controls-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  background-color: rgba(10, 10, 10, 0);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.video-controls-container:hover {
  opacity: 1;
  background-color: rgba(10, 10, 10, 0.4);
}

.video-controls-bar {
  display: flex;
  position: absolute;
  left: 10%;
  bottom: 1em;
  width: 80%;
  height: 3em;

  background-color: #5a5757; /* dark gray */
  border-radius: 0.5em;
}

.video-controls-bar .video-controls-play {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 3em;
  border-right: 1px solid black;

  cursor: pointer;
}

.video-controls-bar .video-controls-play:hover .play-icon {
  font-size: 2.2em;
  color: rgba(255,255,255,1);
}

.video-controls-play .play-icon {
  color: rgba(255,255,255,0.7);
  font-size: 2em;
}